<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mybatis.TagMapper">
    <select id="selectTag" resultType="Tag">
        select *
        from `news-sys`.tag
    </select>

    <select id="selectOne" resultType="tag">
        select id,name
        from `news-sys`.tag
            join `news-sys`.news_tag nt on tag.id = nt.tag_id
        <where>
            <choose>
                <when test="newsId != null">
                    nt.news_id = #{newsId}
                </when>
            </choose>
        </where>
    </select>

    <update id="updateTest">

    </update>
    <delete id="deleteTest">

    </delete>
    <insert id="insertTest">

    </insert>
</mapper>