<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mybatis.TwoMapper">
    <select id="getTagNews" resultType="News">
        select *
        from `news-sys`.news
                 left join `news-sys`.news_tag on news.id = news_tag.news_id
        where news_tag.tag_id = #{id}
    </select>
    <update id="updateTest">

    </update>
    <delete id="deleteTest">

    </delete>
    <insert id="insertTest">

    </insert>
</mapper>