<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mybatis.UserMapper">

    <resultMap id="userResultMap" type="User">
        <id column="birthday" property="birthDay"/>
        <id column="forbidden" property="forBidden"/>
        <id column="regdate" property="regDate"/>
    </resultMap>

    <select id="getUser" resultMap="userResultMap">
        select *
        from `news-sys`.user
        <where>
            <choose>
                <when test="account != null">
                    user.account = #{account}
                </when>
                <when test="email != null">
                    user.email = #{email}
                </when>
                <when test="mobile != null">
                    user.mobile = #{mobile}
                </when>
            </choose>
        </where>
    </select>

    <select id="getAllUser" resultType="User">

    </select>
    <update id="updateUser">

    </update>

    <update id="updateOne">
        update `news-sys`.user
        set
            <if test="email != null and email != ''">
                email = #{email},
            </if>
            <if test="nickname != null and nickname != ''">
                nickname = #{nickname},
            </if>
            <if test="photo != null and photo != ''">
                photo = #{photo},
            </if>
            <if test="birthDay != null">
                birthDay = #{birthDay},
            </if>
            <if test="mobile != null and mobile != ''">
                mobile = #{mobile},
            </if>
            <if test="password != null and password != ''">
                password = #{password}
            </if>
        <where>
            id = #{id}
        </where>
    </update>

    <delete id="deleteUser">

    </delete>
    <insert id="insertUser">
        insert into `news-sys`.user
        VALUES (null, #{account}, #{nickname}, #{password}, #{photo}, #{birthDay}, #{email}, null, #{regDate}, 0);
    </insert>
</mapper>